# Project question 2 - Which driver produced the biggest upset in Formula One?

## 1. Importing data

In [3]:
import pandas as pd
import numpy as np

results = pd.read_csv('results.csv')
races = pd.read_csv('races.csv')
drivers = pd.read_csv('drivers.csv')
qualifying = pd.read_csv('qualifying.csv')
qualifying

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236
...,...,...,...,...,...,...,...,...,...
9810,9868,1110,848,3,23,16,2:00.314,\N,\N
9811,9869,1110,855,51,24,17,2:00.832,\N,\N
9812,9870,1110,858,3,2,18,2:01.535,\N,\N
9813,9871,1110,817,213,3,19,2:02.159,\N,\N
9814,9872,1110,807,210,27,20,2:03.166,\N,\N

## 2. Preparing data

Preparing training data as well as adding useful features

In [79]:
def get_results(year1, year2=None):
    if year2 is None:
        races_data = races.loc[races['year'] == year1]
    else:
        races_data = races.loc[(races['year'] >= year1) & (races['year'] <= year2)]

    races_year_circuit_data = pd.concat([races_data['raceId'], races_data['circuitId'], races_data['time']], axis=1)
    results_data = results.loc[(results['raceId'].isin(races_data['raceId']))]
    results_data = pd.merge(results_data, races_year_circuit_data, on='raceId')
    results_data = results_data.drop(columns=['time_x', 'positionText', 'resultId', 'raceId', 'fastestLap'])
    results_data = results_data.replace('\\N', 0)
    results_data['time_y'] = results_data['time_y'].apply(find_time)
    results_data['fastestLapTime'] = results_data['fastestLapTime'].apply(find_milliseconds)
    #Convert everything to numeric
    results_data = results_data.apply(pd.to_numeric, errors='coerce')
    return results_data

def find_milliseconds(laptime):
    if str(laptime)!='0' and ':' in str(laptime):
        minutes, seconds_and_ms = str(laptime).split(':')
        seconds, milliseconds = seconds_and_ms.split('.')
        return int(int(minutes) * 60000 + int(seconds) * 1000 + int(milliseconds))
    else:
        return 0

def find_time(time):
    if (time == 0):
        return 0
    hours, minutes, seconds = str(time).split(':')
    return (int(hours) * 100) + int(minutes)

get_results(2014)

,driverId,constructorId,number,grid,position,positionOrder,points,laps,milliseconds,rank,fastestLapTime,fastestLapSpeed,statusId,circuitId,time_y
0,3,131,6,3,1,1,25.0,57,5578710,1,92478,206.436,1,1,600
1,825,1,20,4,2,2,18.0,57,5605487,6,93066,205.131,1,1,600
2,18,1,22,10,3,3,15.0,57,5608737,5,92917,205.460,1,1,600
3,4,6,14,5,4,4,12.0,57,5613994,7,93186,204.867,1,1,600
4,822,3,77,15,5,5,10.0,57,5626349,3,92616,206.128,1,1,600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,16,15,99,13,16,16,0.0,54,0,14,107508,185.980,11,24,1300
403,829,207,46,17,17,17,0.0,54,0,18,108398,184.453,11,24,1300
404,155,207,10,16,0,18,0.0,42,0,13,107431,186.113,31,24,1300
405,813,208,13,15,0,19,0.0,26,0,20,108933,183.547,131,24,1300
406,826,5,26,5,0,20,0.0,14,0,19,108748,183.859,131,24,1300

## 3. Making the model

We will be using 2001-2022 as training and 2023 as a test.

NameError: name 'X_train' is not defined

Mean Squared Error: 19.68899423788307